
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




:root {
    /* Default colors */
    --text-color-light: #000000;
    --bg-color-light: #ffffff;
    --text-color-dark: #ffffff;
    --bg-color-dark: #1e1e1e;
    --add-to-card-color:#081621;
    --bay-now-color:#3749bb;
    --line-bd-color:#f9f9f9;
    --footer-bg-color:#172337;
}

body {
  padding-top: 80px; /* Adjust based on navbar height */
  background-color: #f8f9fc;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  /* font-weight: 500; */
  /* font-style: italic; */
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #858796; */
    text-align: left;
}

body  a {
  text-decoration: none;
  color: rgb(10, 9, 8);
 
}
body.night-mode {
  background-color: #121212;
  color: #ffffff;
}
.navbar.night-mode {
  background-color: #333333;
}
.navbar.night-mode .nav-link,
.navbar.night-mode .dropdown-item,
.navbar.night-mode .navbar-toggler,
.navbar.night-mode .form-check-label {
  color: #ffffff;
}
.navbar.night-mode .dropdown-menu {
  background-color: #444444;
}
.btn-night-mode {
  background-color: #ffffff;
  color: #000000;
}
.btn-night-mode.night {
  background-color: #000000;
  color: #ffffff;
}

/* nav bar night mode end */


.shadow{
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;

}
 .night-mode .shadow{
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;

}





.night-mode .card{
  color: rgb(226, 216, 216); /* Set text color to black */
  background-color: rgb(29, 19, 19);
}
.night-mode .card-header {
  color: rgb(226, 216, 216); /* Set text color to black */
  background-color: #000000;
}

.night-mode .accordion-item {
  color: rgb(224, 214, 214); /* Set text color to black */
  background-color:rgb(29, 19, 19) ;
}

.night-mode .accordion-button{
  color: rgb(224, 214, 214); /* Set text color to black */
  background-color: #121212 !important;

}

.night-mode .form-select{
  color: rgb(224, 214, 214); /* Set text color to black */
  background-color: #121212 !important;

}

.form-switch .form-check-input {
 
  
  margin-left: -1.4em !important;
  font-size: 20px;
}



  ul li{
    list-style: none;
  }





#container{
    width: 90vw;
    margin:auto;
  
}

@media (min-width: 1400px) {
    #containerr{
        width: 90vw;
        margin:auto;
      
    }

 }

 .accordion-button{
    padding: 20px;

 }


 .item{
    position: relative;
 }
 .hello{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }

 

 /* responsive image start curosol */
 .image-container {
   max-width: 100%; /* Set maximum width of container */
   height: auto; /* To maintain aspect ratio */
}

.image-container img {
   display: block; /* To remove extra space below image */
   max-width: 100%; /* Set maximum width of image */
   height: auto; /* To maintain aspect ratio */
}
 /* responsive image end curosol */

 .add-to-cart-btn:hover {
   background-color: #ff69b4; /* Change to your desired color */
   border-color: #ff69b4; /* Change to your desired color */
   color: #fff; /* Change to your desired color */
 } 

 .card:hover {
 /* Moving card 5px upwards */
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
 }

 .add-to-cart-btn:hover {
   background-color: #ff69b4; /* Change to your desired color */
   border-color: #ff69b4; /* Change to your desired color */
   color: #fff; /* Change to your desired color */
 }

 /* text overlay start */
 .image-with-text {
   position: relative;
   display: inline-block;
 }
 
 .image-container {
  position: relative;
  display: inline-block;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 1%;
  right: 2%;
  /* transform: translate(-5%, -5%); */ 
  color: rgb(9, 18, 115);
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 40px;
}

.image-container:hover .text-overlay {
  opacity: 1;
  
}

.fa-regular:hover{
  color: #14b11c;
}

 /* text overlay start  end*/


 /* addto cart */
 #cart{
  background-color: var(--add-to-card-color);
  font-size: 70%;
  font-weight: bold;
  box-sizing: border-box;
  color: white;
 
 }

 #cart:hover{
  background-color: #dce6ee;
  color:black
 }
 #buy-now{
  background-color: var(--bay-now-color);
  font-size: 70%;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
  
 }




/* button hover */
#buy-now {
  transition: background-color 0.3s ease; /* Transition effect for background color */
}
#buy-now:hover {
  background-color: #dce6ee;
  color:black /* New background color on hover */
}

#buy-now.clicked {
  background-color: #030a11 !important;
  color: #fff; /* New background color when clicked */
}

/* latest product start */
.line{
  width: 100%;
  height: 10px;
  background-color: var(--line-bd-color);
}
/* latest product end */

/* footer start */
footer {
  background-color: #172337;
  color: white;
  padding: 20px 0;
}
.footer-content {
  text-align: center;
  margin-bottom: 20px;
}
/* footer end */

/* shopping card */
.fa-cart-shopping, .fa-bag-shopping {
 
  font-size: 1.2rem;
  padding-right: 0.3rem;
}

  


.nav-item .fa-cart-shopping{
  font-size: 1.3rem;
}

  .nav-link {
    display: flex;
    align-items: center;
  }

  .nav-link .badge {
    position: absolute;
    right: 14px; /* Adjust the right position as needed */
    background-color: red;
    top: -2px;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }


  /* cart text */
  .cart-taxt{
    font-size: 2px;
  }

 /*  .accordion-button */
 .accordion-button{
  padding: 2px !important;
}


/* responsive */
  /* Custom height for different screen sizes */
  

  

.margin-top{
  margin-top: 3% !important;
}


/* toggle icon */

.toogle-icon {
  position: fixed;
  top: 10px;
  left:10px;
  z-index: 3;
  /* color: white; */
  
}

.slide {
  position: relative; /* Ensure positioning context */
  z-index: 1; /* Positive rakha */
}

.fa-bars{
  color: #f8efef !important;

  position: relative;
  top: 10px;
  right: 0px;
  /* width: 30px; */
}




/* start */
.nav-manu{
  z-index: 20 !important;
}

.submenu {
    display: none; /* Initially hide the submenu */
    list-style: none;
    background-color: transparent;
    padding: 10px 0;
    margin: 5px 0;
    /* border: 1px solid white; */
}

.submenu li a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
}








.nav-icon {
display: inline-block;
/* padding: 10px; */

}

.nav-icon span{
   
    width: 34px;
    height: 3px;
    background-color: rgb(3, 11, 18);
    display: flex;
    margin: 5px 0px;

}


.nav-manu{

  position: relative;
  top: -10px;

}
.nav-links{

  padding-top: 10px;
    width: 300px;
    height: 100vh;
    background-color: black;

}

.nav-links li{

    line-height: 20px;
}

.nav-links li a{

    text-decoration: none;

}

.fa-bars{
    font-size:30px;
}

.nav-links{
    position: fixed;
    /* top: 78px !important; */
    left: -100%;

    width: 200px;
    height: 100%;
    background-color:rgb(8, 7, 6);
    display: flex;
    flex-direction: column;
    
    transition:left 0.6s ease ;
    

}
.nav-links  li a {
  color: white;
}



.left-slider{
    left: 0px;
    z-index: 20;
}


.arrow-icon {
    display: inline-block;
    margin-left: 1px;
    transition: transform 0.3s ease; /* Smooth rotation */
}

.arrow-down {
    transform: rotate(90deg); /* Rotate the arrow down */
}

/* end */












@media (max-width: 992px) {

 


  /* .dropdown1{

    background-color:#fff;
    position: fixed;
    top: 76px;
    left: -200px;
    bottom: 0;
    height: 100vh;
    width:200px;
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    z-index: 4 !important;
    transition:left 0.4s ease ;
    


  }


  .left-slider{
    left: 0;
  }




  .dropdown{
    margin: 20px 0px 0px 20px ;
  }

.night-mode .dropdown1{
  background-color:#0c0808;
}  */


  

  .night-mode .fa-bars{
    color:white !important;
    position: relative;
    top: 10px;
    right: 0px;
  }
 

 
  

  .filter-slide  {
    
    background-color: rgb(29, 19, 19);
    position: fixed;
    top: 38px;
    left: -350px;
    height: auto;
    width:350px;
    
   
    z-index: 3;
    transition:left 0.4s ease ;
  }

  .filter-slide  .night-mode{
    background-color: rgb(241, 225, 225);
  }

  #filter-card{
    width: 350px;
  }

  .filter-slid-toggle{
    left: 0;
  }


  #navsearch{
    position: fixed;
    display: block;
    top: 90px;
    left: 0;
   width: 100%;
   z-index: -2;

  }
 
 
  
  #account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }

  #search-icon{
    margin-top: 10px;
    width: 20px;
  }

}




















.position2{
  width: 100%;
  
position: fixed;
top: 80px;


z-index: 5;
padding: 7px 0px 8px 0px;




}




/* for product Ratting system start*/
.rating {
	direction: rtl;
	unicode-bidi: bidi-override;
	color: #ddd; /* Personal choice */
    font-size: 8px;
    margin-left: -15px;
}
.rating input {
	display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
	color: #ffc107; /* Personal color choice. Lifted from Bootstrap 4 */
    font-size: 8px;
}


.front-stars, .back-stars, .star-rating {
    display: flex;
  }
  
  .star-rating {
    align-items: left;
    /* change
    font-size: 1.5em; */
    font-size: 1.2em;
    justify-content: left;
    margin-left: -5px;
  }
  
  .back-stars {
    color: #CCC;
    position: relative;
  }
  
  .front-stars {
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.5s;
  }

  
  .percent {
    color: #bb5252;
    font-size: 1.5em;
  }

/* for product Ratting system end */

